@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  /* background: #f2f2f2; */
  background-color: pink; 
  color: #333333;
  font-family: "Nunito";
  padding: 0px;
  margin: 0px;

}
a {
  color: #333;
  text-decoration: none;
}
.content {
  max-width: 960px;
  margin: 0 auto;
  /* background: pink; */
}
nav {
  /* margin: 10px auto 10px; */
  /* padding: 0px 20px; */
  /* display: flex; */
  /* justify-content: space-between;
  align-items: center; */
  border-bottom: 3px solid #ED64A6;
  /* background: pink; */
  
}
.containNavbar {
  display: flex;
  /* justify-content: space-between; */
  /* background: red; */
  max-width: 960px;
  align-items: center;
  margin: 0 auto;
  padding: 0px 30px;
  
}
.navbar {
  /* background: pink; */
  margin-left: auto;
  /* width: 50%; */

}
nav a {
  margin-left: 40px;
}
nav a:hover {

  padding:10px 20px;
  /* font-size: 20px; */
  border: 1px solid #FF69B4;
  border-radius: 10px;
  color: "white"
}
nav .logo {
  margin-right: auto;
  align-items: center;
  background: pink;
  justify-content: center;
  /* width: 50%; */
}
footer {
  /* display: block; */
  /* text-align: center; */
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
  width: "100%";
}
.not-found {
  text-align: center;
}
.not-found a{
  color: #4979ff;
  text-decoration: underline;
}